@using Kendo.Mvc.UI

@model SalesHub.Client.ViewModels.Client.OrderViewModel
@{
    ViewBag.Title = "Edit Order";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.Partial("_Order")
}

@using (Html.BeginForm("Delete", "Order", new { id = Model.OrderId }, FormMethod.Post, new { id = "deleteForm" }))
{
}

@section scripts
{
    <script type="text/x-kendo-template" id="orderDetailsValidationMessageTemplate">
        # if (messages.length) { #
            <li>#=field#
                <ul>
                    # for (var i = 0; i < messages.length; ++i) { #
                        <li>#= messages[i] #</li>
                    # } #
                </ul>
            </li>
        # } #
    </script>
    <script>
        window.SalesHub.customerData = {
            customerId: "@Model.CustomerId",
            customerPath: "@Html.Raw(Model.CustomerPath)"
        };
    </script>
    <script src="@Url.Content("~/Scripts/order.js")"></script>
    @Html.Kendo().DeferredScripts()
}
